.fa-plus{
    font-size: 50px;
}
h2{
    color:#3cdfff ;
}
h3{
    color: #3cdfff;
    text-align: center;
    margin-top: 5px;
}
label{
    color: #3cdfff;
}
.form{
    border: 2px solid #3cdfff;
}
.btn-success{
    background-color: #3cdfff;
    color: white;
    outline: none;
}

.card{
    border: 2px inset #3cdfff;
}
.del{
    float: right;
    /* margin-top: 10px; */
    margin-right: 10px;
}
.up{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}
p{
    margin: 10px;
    color: antiquewhite;
}
.owner{
    padding: 0;
    color: azure;
}