
<div class="container">
  <div class="row p-5">
    <div class="form col-md-4"><h2 class="text-center">Add new quote</h2>
      <br>
      <form (ngSubmit)="submitQuote()" #quoteForm ="ngForm">
         
          <div class="form-group">
    
              <label for="quote">Quote</label>
              <textarea class="form-control" id="quote"[(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" rows="4" required></textarea>
              <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
    
          </div>
    
          </div>
          <div class="form-group">
    
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author"[(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
        </div>
        <div class="form-group">
    
          <label for="owner">Owner</label>
          <input type="text" required class="form-control" id="owner"[(ngModel)]="newQuote.owner" name="owner" #owner="ngModel" required>
      </div>
      <button (click)="create()" class="btn btn-success mt-5">Create</button>
      </form>
    
    
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <ul *ngFor="let quote of quotes">
        <li appQuoteHighlight>{{quote.quote}}  <span>{{quote.author}}</span>   <span>{{quote.owner}}</span>  <span class="text-success "> <button (click)="addVote()" class="btn btn-success"><i class="fa-solid fa-thumbs-up"></i></button>{{upvotes}}</span>   <span class="text-danger ml-3" ><button (click)="subVote()" class="btn btn-danger"><i class="fa-solid fa-thumbs-down"></i></button>{{downvotes}}</span> <span>{{newQuote.postDate}}</span></li>
      </ul>
      <ul *ngIf="let upvote in upvotes">
        <li></li>
      </ul>
    </div>
  
</div>
</div> 
